
/* Main Body styles
-------------------------------------------------- */

#main_page{
  	padding-top: 60px;
  	padding-bottom: 20px;
  	color:#001f3f;
}

#projects_page{
	padding-top: 50px;
	color:#001f3f;
}

.desc{
  padding-top: 50px; 
  padding-left: 50px; 
}

#top-menu{
	background-color: #001f3f;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
	padding-right: 22px;
	background-color: #001f3f;
}

.navbar-nav li a{
	padding-left: 22px;	
}

#slider_label {
	margin-bottom: 20px;
}

#map { 
  height: 480px; 
}

/*Slideshow styles */
.pics {
height: 150%;
width: 150%;
}


#cf7_controls {
  text-align:center;
}

#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}

#cf7 {
  position:relative;
  height:300px;
  width:450px;
  margin:20px 0 10px 135px;
}

#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


/*Slider Styles*/
#container_of_slider {
  padding-top: 150px;
  padding-left: 265px;
}

#slider {
  width : 650px;
}

/*Mapbox styles*/
.leaflet-popup-content {
  width:300px;
}

.leaflet-popup-content img {
  width:100%;
}

#add_button {
  position: absolute;
  z-index: 9999;
  right: 1%;
  top: 2.5%;
}

#add_form_background {
  width: 400px;
  position: absolute;
  z-index: 9999;
  right: 1%;
  top: 13%; 
  background-color: white;
  padding:10px 20px; 
}

#circle1 {
  display:none;
  position:absolute;
  left:710px;
  top: 320px;
  z-index: 9999;
}


