
/* Main Body styles
-------------------------------------------------- */

#main_page{
  	padding-top: 60px;
  	padding-bottom: 20px;
  	color:#001f3f;
}

#projects_page{
	padding-top: 110px;
	color:#001f3f;
}

#top-menu{
	background-color: #001f3f;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
	padding-right: 22px;
	background-color: #001f3f;
}

.navbar-nav li a{
	padding-left: 22px;	
}

p,img {
	margin-bottom: 20px;
}

#ex1Slider .slider-selection {
  background: #BABABA;
}

#cf7_controls {
  text-align:center;
}
#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}
#cf7 {
  position:relative;
  height:281px;
  width:450px;
  margin:0 auto 10px;
}
#cf7 img {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}
