
/* Main Body styles
-------------------------------------------------- */

#main_page{
  	padding-top: 60px;
  	padding-bottom: 20px;
  	color:#001f3f;
}

#projects_page{
	padding-top: 50px;
	color:#001f3f;
}

.desc{
  padding-top: 50px; 
  padding-left: 50px;
  padding-right: 35px; 
}

#top-menu{
	background-color: #001f3f;
}

.navbar-brand,
.navbar-nav li a {
    line-height: 70px;
    height: 70px;
    padding-top: 0;
	padding-right: 22px;
	background-color: #001f3f;
}

.navbar-nav li a{
	padding-left: 22px;	
}

#slider_label {
	margin-bottom: 20px;
}

#map { 
  height: 480px; 
}

/*Slideshow styles */
.pics {
height: 175%;
width: 175%;
}


#cf7_controls {
  text-align:center;
}

#cf7_controls span {
  padding-right:2em;
  cursor:pointer;
}

#cf7 {
  position:relative;
  height:300px;
  width:550px;
  margin:20px 0px 0px 0px;
}

img.maps {
  position:absolute;
  left:0;
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
  opacity:0;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
}

#grey {
  opacity: 1;
  z-index: -1;
}

#pic1 {
  height: 75%;
  width: 75%;
  top: 20%;
  left: 50%;
}

#pic2 {
  width: 100%;
  height: 125%;
  top: 10%;
  left: 35%;
}

#pic3 {
  width: 100%;
  height: 125%;
  top: 10%;
  left: 35%;
}

#pic4 {
  width: 100%;
  height: 125%;
  top: 10%;
  left: 35%; 
}
#pic5 {
  width: 100%;
  height: 125%;
  top: 10%;
  left: 35%; 
}

#pic6 {
  width: 120%;
  height: 150%;
  top: 10%;
  left: 26%; 
}

#pic7 {
  width: 120%;
  height: 150%;
  top: 10%;
  left: 26%; 
}

#pic8 {
  width: 155%;
  height: 160%;
  top: 5%;
  left: 10%; 
}


#cf7 img.opaque {
  opacity:1;
  -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  filter: alpha(opacity=1);
}


/*Slider Styles*/
#container_of_slider {
  position: absolute;
  padding-left: 380px;
}

#slider {
  width : 700px;
}

/*Mapbox styles*/
.leaflet-popup-content {

}

.leaflet-popup-content img {
  width:100%;
}

#add_button {
  position: absolute;
  z-index: 9999;
  right: 1%;
  top: 2.5%;
}

#add_form_background {
  width: 400px;
  position: absolute;
  z-index: 9999;
  right: 1%;
  top: 13%; 
  background-color: white;
  padding:10px 20px; 
}


#help {
    font-size: 20px;
      position: absolute;
    margin-left: 375px;
    margin-top: 80px;
    -webkit-animation: pulsate 2s ease-out;
    -webkit-animation-iteration-count: infinite; 
    opacity: 0.5;
}
@-webkit-keyframes pulsate {
    0% { 
        opacity: 0.2;
    }
    50% { 
        opacity: 1.0;
    }
    100% { 
        opacity: 0.2;
    }
}

#right_panel {
  margin-right: 0px;
  margin-left: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

#historical-maps {
  height: 570px;
}



#circle1 {
  display:none;
  position:absolute;
  left:910px;
  top: 180px;
  z-index: 9999;
}

#circle2 {
  display:none;
  position:absolute;
  left:985px;
  top: 350px;
  z-index: 9999;
}


#circle3 {
  display:none;
  position:absolute;
  left:910px;
  top: 250px;
  z-index: 9999;
}

#circle4 {
  display:none;
  position:absolute;
  left:900px;
  top: 100px;
  z-index: 9999;
}

#circle6 {
  display:none;
  position:absolute;
  left:850px;
  top: 130px;
  z-index: 9999;
}

#circle7 {
  display:none;
  position:absolute;
  left:1050px;
  top: 27px;
  z-index: 9999;
}


#circle9 {
  display:none;
  position:absolute;
  left:900px;
  top: 230px;
  z-index: 9999;
}


#circle10 {
  display:none;
  position:absolute;
  left:1110px;
  top: 246px;
  z-index: 9999;
}

#circle11 {
  display:none;
  position:absolute;
  left:850px;
  top: 100px;
  z-index: 9999;
}

#circle12 {
  display:none;
  position:absolute;
  left:850px;
  top: 114px;
  z-index: 9999;
}

#circle13 {
  display:none;
  position:absolute;
  left:920px;
  top: 290px;
  z-index: 9999;
}

#circle14 {
  display:none;
  position:absolute;
  left:920px;
  top: 290px;
  z-index: 9999;
}

#circle15 {
  display:none;
  position:absolute;
  left:690px;
  top: 270px;
  z-index: 9999;
}

#circle16 {
  display:none;
  position:absolute;
  left:1040px;
  top: 240px;
  z-index: 9999;
}

#circle17 {
  display:none;
  position:absolute;
  left:1080px;
  top: 280px;
  z-index: 9999;
}


#circle18 {
  display:none;
  position:absolute;
  left:950px;
  top: 90px;
  z-index: 9999;
}


#circle19 {
  display:none;
  position:absolute;
  left: 530px;
  top: 250px;
  z-index: 9999;
}